# 1. Ignora tutti i FILE, ma...
*
# ...2. NON ignorare le CARTELLE (permetti a git di entrarci per cercare le eccezioni)
!*/

# 3. Mantieni il file .gitignore stesso
!.gitignore

# -----------------------------------------------------------
# REGOLE SPECIFICHE (Le tue whitelist)
# -----------------------------------------------------------

# Abaqus
!/Abaqus simulations/Scripts/*.py

# DL Code - Data (file specifici)
!/DL code/data/data_fitting.py
!/DL code/data/dataset.py
!/DL code/data/physics_scaler.py
!/DL code/data/preprocess_data.py
!/DL code/data/scaler_params.pt 

# DL Code - Cartelle intere (e il loro contenuto)
!/DL code/loss_functions/*
!/DL code/models/*
!/DL code/training/*.py
!/DL code/utils/*

# DL Code - Config
!/DL code/config.py